wheel

# application
click
pyyaml
numpy
scipy
sympy
pint
matplotlib

# testing
pytest
pytest-cov
coverage

# documentation
sphinx
sphinxcontrib-programoutput
sphinxcontrib-spelling
jupyter-book

# package management
bump2version
twine
