wheel

# application
click
pyyaml
numpy
scipy
pint
matplotlib

# testing
pytest
pytest-cov
coverage

# documentation
sphinx
sphinxcontrib-programoutput
sphinxcontrib-spelling

# package management
bump2version
twine
